{% set current_peer_group = current_config.get(neighbor["neighbor-address"], {}).get("peer_group") %}

{# Note: removing the remote-as of a neighbor (by removing the remote-as, or removing its peer-group) deconfigures the neighbor #}
{% if not deep_get(neighbor, "config", "peer-group") and current_peer_group %}
{# when we want to remove the peer-group #}
no neighbor {{ neighbor["neighbor-address"] }} peer-group {{ current_peer_group }}

{% elif deep_get(neighbor, "config", "peer-group") and current_peer_group and deep_get(neighbor, "config", "peer-group") != current_peer_group %}
{# when the neighbor exists with the wrong peer-group #}
no neighbor {{ neighbor["neighbor-address"] }} peer-group {{ current_peer_group }}
neighbor {{ neighbor["neighbor-address"] }} peer-group {{ deep_get(neighbor, "config", "peer-group") }}

{% elif deep_get(neighbor, "config", "peer-group") %}
{# when the neighbor exists without peer group #}
neighbor {{ neighbor["neighbor-address"] }} peer-group {{ deep_get(neighbor, "config", "peer-group") }}
{% endif %}

{% set peer_group_name = deep_get(neighbor, "config", "peer-group") %}
{% if not peer_group_name or not peer_groups[peer_group_name]["config"].get("peer-as") %}
neighbor {{ neighbor["neighbor-address"] }} remote-as {{ neighbor["config"]["peer-as"] }}
{% endif %}

{# We could enforce local-as to avoid this condition #}
{% if neighbor["config"]["local-as"] != global_as %}
neighbor {{ neighbor["neighbor-address"] }} local-as {{ neighbor["config"]["local-as"] }}
{% else %}
no neighbor {{ neighbor["neighbor-address"] }} local-as
{% endif %}

{% if neighbor["config"].get("description") %}
neighbor {{ neighbor["neighbor-address"] }} description {{ neighbor["config"]["description"] }}
{% else %}
no neighbor {{ neighbor["neighbor-address"] }} description
{% endif %}

{% if neighbor["config"]["auth-password"] %}
neighbor {{ neighbor["neighbor-address"] }} password {{ neighbor["config"]["auth-password"] }}
{% else %}
no neighbor {{ neighbor["neighbor-address"] }} password
{% endif %}

{% if timer_delayopen_supported %}
    {% if deep_get(neighbor, "timers", "config", "delay-open-timer") %}
neighbor {{ neighbor["neighbor-address"] }} timers delayopen {{ neighbor["timers"]["config"]["delay-open-timer"] }}
    {% else %}
no neighbor {{ neighbor["neighbor-address"] }} timers delayopen
    {% endif %}
{% endif %}

{% if neighbor["config"]["enabled"] == true %}
no neighbor {{ neighbor["neighbor-address"] }} shutdown
{% else %}
neighbor {{ neighbor["neighbor-address"] }} shutdown
{% endif %}