{% if asset_type == "neighbor" %}
    {% set asset_name = neighbor["address"] %}
{% elif asset_type == "peer-group" %}
    {% set asset_name = peer_group["peer-group-name"] %}
{% endif %}

{% if safi and safi.get("apply-policy") and safi["apply-policy"]["config"]["import-policy"] %}
neighbor {{ asset_name }} route-map {{ safi["apply-policy"]["config"]["import-policy"] | first }} in
{# For a peer-group, we set the route-map whether the SAFI is enabled or not #}
{# because a peer can be in a SAFI while its peer-group is not, in that case, we need the route-map of the peer-group #}
{% elif asset_type == "peer-group" and global_route_map["import"] %}
neighbor {{ asset_name }} route-map {{ global_route_map["import"] | first }} in
{% elif asset_type == "neighbor" and global_route_map["import"] and safi and safi["config"]["enabled"] == true %}
neighbor {{ asset_name }} route-map {{ global_route_map["import"] | first }} in
{% else %}
no neighbor {{ asset_name }} route-map * in
{% endif %}

{% if safi and safi.get("apply-policy") and safi["apply-policy"]["config"]["export-policy"] %}
neighbor {{ asset_name }} route-map {{ safi["apply-policy"]["config"]["export-policy"] | first }} out
{# For a peer-group, we set the route-map whether the SAFI is enabled or not #}
{# because a peer can be in a SAFI while its peer-group is not, in that case, we need the route-map of the peer-group #}
{% elif asset_type == "peer-group" and global_route_map["export"] %}
neighbor {{ asset_name }} route-map {{ global_route_map["export"] | first }} out
{% elif asset_type == "neighbor" and global_route_map["export"] and safi and safi["config"]["enabled"] == true %}
neighbor {{ asset_name }} route-map {{ global_route_map["export"] | first }} out
{% else %}
no neighbor {{ asset_name }} route-map * out
{% endif %}

{% if not safi or not safi.get(safi_key, {}).get("prefix-limit", {}).get("config", {}) %}
no neighbor {{ asset_name }} maximum-prefix
{% elif safi[safi_key]["prefix-limit"]["config"]["max-prefixes"] == 0 %}
no neighbor {{ asset_name }} maximum-prefix
{% elif safi[safi_key]["prefix-limit"]["config"].get("prevent-teardown") %}
neighbor {{ asset_name }} maximum-prefix {{ safi[safi_key]["prefix-limit"]["config"]["max-prefixes"] }} warning-only
{% else %}
neighbor {{ asset_name }} maximum-prefix {{ safi[safi_key]["prefix-limit"]["config"]["max-prefixes"] }}
{% endif %}


{# TODO: don't generate SAFI at all for peer-groups #}
{% if asset_type == "neighbor" %}
{% if not safi or safi["config"]["enabled"] == false %}
no neighbor {{ asset_name }} activate
no neighbor {{ asset_name }} soft-reconfiguration inbound
no neighbor {{ asset_name }} send-community
  {% else %}
neighbor {{ asset_name }} activate
neighbor {{ asset_name }} soft-reconfiguration inbound
neighbor {{ asset_name }} send-community
  {% endif %}
{% else %}
{# always enable send-community for peer-groups #}
neighbor {{ asset_name }} send-community
{% endif %}
