{# Hardcoded options #}
no bgp default ipv4-unicast
bgp bestpath as-path multipath-relax

{% if config.get("config", {}).get("router-id") %}
bgp router-id {{ config["config"]["router-id"] }}
{% else %}
no bgp router-id
{% endif %}

{% set distances = config.get("default-route-distance", {}).get("config", {}) %}
{% set internal_distance = distances.get("internal-route-distance", 200) %}
distance bgp {{ distances.get("external-route-distance", 20) }} {{ internal_distance }} {{ internal_distance }}

{% if config.get("graceful-restart", {}).get("config", {}).get("enabled") == True %}
graceful-restart
  {% if config["graceful-restart"]["config"].get("restart-time") %}
graceful-restart restart-time {{ config["graceful-restart"]["config"]["restart-time"] }}
  {% else %}
no graceful-restart restart-time
  {% endif %}
{% else %}
no graceful-restart
no graceful-restart restart-time
{% endif %}

{% if config.get("use-multiple-paths", {}).get("config", {}).get("enabled") %}
{% set maximum_paths = config["use-multiple-paths"].get("ebgp", {}).get("config", {}).get("maximum-paths", 32) %}
maximum-paths {{ maximum_paths }} ecmp {{ maximum_paths }}
{% else %}
no maximum-paths
{% endif %}