{# Explicitly remove all route policies on the AFI/SAFIS we use #}
{% for afisafi in afisafis %}
  {% set auto_gen_rm_name = convert_route_map_name(route_map_name, afisafi) %}
delete policy-options policy-statement {{ auto_gen_rm_name }}
{% endfor %}
