{% if vrf %}
{% set vrf_path = "routing-instances " + vrf %}
{% else %}
{% set vrf_path = "" %}
{% endif %}

{% set path = vrf_path + " protocols bgp group " + peer_group["peer-group-name"] %}

{% if deep_get(peer_group, "config", "local-as") %}
set {{ path }} local-as {{ peer_group["config"]["local-as"] }}
{% else %}
delete {{ path }} local-as
{% endif %}

{% if peer_group["config"]["peer-as"] %}
set {{ path }} peer-as {{ peer_group["config"]["peer-as"] }}
{% else %}
delete {{ path }} peer-as
{% endif %}

{# Set an administrative distance for ebgp sessions (170 by default in JunOS) #}
{% if deep_get(peer_group, "config", "local-as")
    and deep_get(peer_group, "config", "peer-as")
    and peer_group["config"]["local-as"] != peer_group["config"]["peer-as"] %}
set {{ path }} preference {{ bgp_distance.get("external", 20) }}
{% elif bgp_distance.get("internal") %}
set {{ path }} preference {{ bgp_distance["internal"] }}
{% else %}
delete {{ path }} preference
{% endif %}

{% if peer_group["config"]["description"] %}
set {{ path }} description "{{ peer_group["config"]["description"] }}"
{% else %}
delete {{ path }} description
{% endif %}

delete {{ path }} import
{% if deep_get(peer_group, "apply-policy", "config", "import-policy") %}
set {{ path }} import [{{ peer_group["apply-policy"]["config"]["import-policy"] | join(" ") }}]
{% endif %}

delete {{ path }} export
{% if deep_get(peer_group, "apply-policy", "config", "export-policy") %}
set {{ path }} export [{{ peer_group["apply-policy"]["config"]["export-policy"] | join(" ") }}]
{% endif %}
