{% for community in community_sets %}
{{ community }}
{% endfor %}
{% for prefix in prefix_sets %}
{{ prefix }}
{% endfor %}
{% for policy_definitions in policy_definitions %}
{{ policy_definitions }}
{% endfor %}